@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.heading{
    position: fixed;
    top: 0;
    left: 50%;
    color: white;
    font-size: 40px;
    margin: 25px auto;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}

@media screen and (max-width: 1000px) {
    .heading{
        font-size: 30px;
    }    
}

.container{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.loader{
    position: relative;
}

/* Loader 1 */

.loader1{
    width: 250px;
    height: 250px;
    animation: loader1 2s ease infinite;
}

@keyframes loader1{
    50%{
        width: 300px;
        height: 300px;
    }
}

.loader1 span{
    position: absolute;
    width: 125px;
    height: 125px;
    overflow: hidden;
    animation: l1circle 2s ease infinite;
}

@keyframes l1circle {
    50%{
        border-radius: 50%;
        box-shadow: 0 0 10px #eed8d8;
    }    
}

.loader1 span:nth-child(1){
    top: 0;
    left: 0;
    background-color: plum;
}

.loader1 span:nth-child(2){
    top: 0;
    right: 0;
    background-color: orange;
}

.loader1 span:nth-child(3){
    bottom: 0;
    left: 0;
    background-color: blueviolet;
}

.loader1 span:nth-child(4){
    bottom: 0;
    right: 0;
    background-color: chartreuse;
}

/* Loader 2 */

.loader2{
    display: flex;
    width: 250px;
    height: 100px;
    gap: 5px; 
}

.loader2 span{
    width: 25px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
}

@keyframes loader2{
    0%,50%,100%{
        transform: scale(1);
    }
    60%{
        transform: scale(1.75);
    }
}

.loader2 span:nth-child(1){
    background-color: aqua;
    animation: loader2 1s infinite;
}
.loader2 span:nth-child(2){
    background-color: blueviolet;
    animation: loader2 1s 0.15s infinite;
}
.loader2 span:nth-child(3){
    background-color: blue;
    animation: loader2 1s 0.3s infinite;
}
.loader2 span:nth-child(4){
    background-color: chartreuse;
    animation: loader2 1s 0.45s infinite;
}
.loader2 span:nth-child(5){
    background-color: cornflowerblue;
    animation: loader2 1s 0.6s infinite;
}
.loader2 span:nth-child(6){
    background-color: tomato;
    animation: loader2 1s 0.75s infinite;
}
.loader2 span:nth-child(7){
    background-color: slateblue;
    animation: loader2 1s 0.9s infinite;
}
.loader2 span:nth-child(8){
    background-color: chocolate;
    animation: loader2 1s 1.05s infinite;
}

/* Loader 3 */
.loader3{
    width: 250px;
    height: 250px;
    animation: loader3 2s ease infinite;
}

.loader3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 125px solid orange;
    border-right: 125px solid transparent;
    /* border-top: 125px solid green; */
    border-left: 125px solid transparent;
    animation: l3Before 2s ease infinite;
}

.loader3::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    /* border-bottom: 125px solid orange; */
    border-right: 125px solid transparent;
    border-top: 125px solid green;
    border-left: 125px solid transparent;
    animation: l3After 2s ease infinite;
}

@keyframes loader3{
    0%{
        transform: rotate(0);
    }
    50%,100%{
        transform: rotate(360deg);
    }
}

@keyframes l3Before{
    0%,50%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes l3After{
    0%,50%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}

/* Loader 4 */
.loader4{
    width: 250px;
    height: 250px;
    border: 15px solid white;
    border-left-color: green;
    border-top-color: green;
    border-radius: 50%;

    animation: loader4 2s ease infinite;
}

@keyframes loader4{
    50%{
        transform: rotate(360deg);
        border-radius: 0%;
        border-width: 130px;
    }
}

/* Loader 5 */
.loader5{
    width: 250px;
    height: 250px;  
    border: 10px solid yellow;
    border-radius: 50%;
    position: relative;
}
.arm{
    position: absolute;
    width: 5px;
    height: 100px;
    bottom: 50%;
    right: 50%;
    background-color: aliceblue;
    transform-origin: bottom;
    animation: loader5 2s infinite;
}

@keyframes loader5{
    100%{
        transform: rotate(360deg);
    }    
}

/* Loader 6 */
.loader6{
    width: 250px;
    height: 250px;
    border: 1px solid white;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 8px rgba(26,6,181,1),0 0 0 2px black;
    animation: loader6 2s infinite alternate;
    /* display: none; */
}
.loader6 span:nth-child(1){
    position: absolute;
    width: 220px;
    height: 220px;
    bottom: 15px;
    right: 15px;
    border: 1px solid white;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 8px rgba(26,6,181,1),0 0 0 2px black;
    animation: loader6 2s 0.25s infinite;
}
.loader6 span:nth-child(2){
    position: absolute;
    width: 190px;
    height: 190px;
    bottom: 30px;
    right: 30px;
    border: 1px solid white;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 8px rgba(26,6,181,1),0 0 0 2px black;
    transform: rotate(45deg);
    animation: loader6 2s 0.5s infinite alternate-reverse;
}

@keyframes loader6{
    100%{
        transform: rotate(350deg);
    }
}

/* Loader 7 */

.loader7{
    width: 250px;
    height: 250px;
}

.loader7::before{
    content: '';
    height: 250px;
    width: 250px;
    position: absolute;
    /* border: 1px solid white; */
    border-radius: 50%;
    box-shadow: 0 0 10px red;
    animation: loader7outer 2s infinite;    
}

.loader7::after{
    content: '';
    height: 50px;
    width: 50px;
    top: 40%;
    left: 40%;
    position: absolute;
    box-shadow: 0 0 10px blue;
    /* border: 1px solid white; */
    border-radius: 50%; 
    animation: loader7inner 2s infinite;    
}

@keyframes loader7outer {
    50%{
        transform: scale(0.20);
    }
    100%{
        transform: scale(1);
    }    
}

@keyframes loader7inner {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(5);
    }    
}

/* Loader 8 */

.loader8{
    width: 250px;
    height: 250px;
    animation: loader8 6s infinite linear;
}

.loader8::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 125px;
    border-top: 125px solid white;
    border-radius: 50%;
    transform: rotate(-30deg);
    animation: loader8eat 0.5s infinite;
}

.loader8::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 125px;
    border-bottom: 125px solid white;
    border-radius: 50%;
    transform: rotate(30deg);
    animation: loader8eat 0.5s infinite;
}

@keyframes loader8 {
      0%{
        left: -300px;
        transform: rotateY(0);
    }
    48%{
        left: 300px;
        transform: rotateY(0);
    }
    52%{
        transform: rotateY(180deg);
    }
    98%{
        left: -300px;
        transform: rotateY(180deg);
    }
    100%{
        left: -300px;
    }
}

@keyframes loader8eat {
    50%{
        transform: rotate(0deg);
    }
   
}

/* loader 9 */
.loader9{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 10px red, 0 0 30px blue;
    background-color: #fff;
    border: 20px solid transparent;
    border-top-color: black;
    border-bottom-color: black;
    animation: loader9 1s infinite linear;
}

.loader9::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    background-color: pink;
    border-radius: 50%;
    animation: loader9center 5s infinite;
}

.loader9::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    top: calc(50% - 80px);
    left: calc(50% - 80px);
    border-radius: 50%;
    border: 20px solid wheat;
}

@keyframes loader9 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes loader9center {
    0%, 100%{
        background-color: red;
    }
    20%{
        background-color: tomato;
    }
    40%{
        background-color: violet;
    }
    60%{
        background-color: yellowgreen;
    }
    80%{
        background-color: rgb(6, 241, 104);
    }
}
